html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.mainmenu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: black;
    z-index: 200;
    color: white;
}
.mainmenu nav {

}
.mainmenu nav a {
    display: block;
    font-size: 18px;
    color: white;
    padding: 10px 10px;
}
.maincontent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-left: 200px;
    z-index: 100;
}
.maincontent .contentWr {
    padding: 45px 100px;
}
.maincontent .contentWr h1 {
    text-align: center;
    margin-bottom: 40px;
}

.mailNav {
    text-align: center;
}
.mailNav a {
    display: inline-block;
    /*width: 48px;*/
}
.mailNav a p {
    /*display: inline-block;*/
    text-align: center;
    margin: 0px 20px;
}