<nav>
    <a ng-href="#/mail">Почта</a>
    <a ng-href="#/socialnet">Соц сети</a>
    <a ng-href="#/videotv">Видео/Тв</a>
    <a ng-href="#/travel">Путешествия</a>
    <a ng-href="#/anal">Аналитика</a>
</nav>