<h1>Почта</h1>
<nav class="mailNav">
    <a ng-href="#/mail/aboutGmail">
        <img src="../../images/gmail.png" alt="images">
        <p>Gmail</p>
    </a>
    <a ng-href="/aboutRambler">
        <img src="../../images/rambler-mail.png" alt="images">
        <p>Rambler-mail</p>
    </a>
    <a ng-href="/aboutMail">
        <img src="../../images/mail-ru.png" alt="images">
        <p>Mail-ru</p>
    </a>
    <a ng-href="/aboutYandex">
        <img src="../../images/yandex-mail.png" alt="images">
        <p>Yandex-mail</p>
    </a>
</nav>
<!--<div ng-view></div>-->
        {{temp}}
{{d}}